@import 'https://fonts.googleapis.com/css?family=Handlee';
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
@import 'https://fonts.googleapis.com/css?family=Permanent+Marker';
@import 'https://fonts.googleapis.com/css?family=Special+Elite';
@import 'https://fonts.googleapis.com/css?family=Bungee+Shade|Julius+Sans+One';
@import 'https://fonts.googleapis.com/css?family=Lobster';
@import 'https://fonts.googleapis.com/css?family=Raleway';
html {
    background: #c0392b;
}
body {
    font-family: 'Raleway', sans-serif;
    position: relative;
}
p {
    font-size: 12pt;
    margin-bottom: 40px;
}
address {
    font-size: 13pt;
    text-align: center;
    line-height: 1.6;
}
.navbar .navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 20pt;
    color: #c0392b;
}
.navbar {
    background-color: rgba(0, 0, 0, .8);
    border-bottom: none;
}
.navbar-inverse .navbar-nav>li>a {
    color: #ecf0f1;
    font-size: 12pt;
    font-family: 'Raleway', sans-serif;
}
.widget-social {
    padding: 0;
    margin: 0;
}
.widget-social li {
    display: inline-block;
    margin-right: 10px;
}
.widget-social li a {
    background: #000;
    text-align: center;
    display: block;
    padding: 10px 20px;
    line-height: 40px;
    font-size: 1.25em;
    color: #ecf0f1;
    border-radius: 10px;
}
.widget-social li a:hover {
    background: #2980b9;
}
.business-header {
    height: 400px;
    background: url("http://i.imgur.com/bHZDM5R.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}
a.button {
    padding: 10px 30px;
    background: #c0392b;
    color: #fff;
    border-radius: 10px;
}
.button:hover {
    background: #2980b9;
    color: #fff;
    text-decoration: none;
}
hr {
    border-top: 1px solid #2980b9;
}
.son {
    margin: 25px auto;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background: url("http://i.imgur.com/UCX52HQ.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 10px #ccc;
}
.what_we_do {
    margin-top: 80px;
}
.owl-item img {
    max-width: 400px;
    max-height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 3px #222;
}
.backg {
    background: #000;
}
.owl-items img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow: 0 0 3px #222;
}
.owl-theme .owl-item {
    text-align: center;
    margin: auto 25px;
}
.owl-controls .owl-page span {
    margin: 0 4px;
}
.owl-theme .owl-controls .owl-page span {
    border-radius: 100%;
    width: 5px;
    height: 5px;
}
.owl-theme .owl-cntrols .owl-pagination {
    margin-top: 20px;
}
#clients {
    text-align: center;
}
#clients h2 {
    margin: 50px 0 100px 0;
}
.carousel-inner img {
    max-width: 600px;
    max-height: 600px;
    margin: auto;
}
.media img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.marketing {
    margin-top: 80px;
}
.main {
    margin-top: 100px;
}
.main img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.main div {
    margin-bottom: 20px;
}
.main h5 {
    font-size: 1.5em;
}
h1, h2 {
    font-family: 'Lobster', cursive;
    color: #c0392b;
}
h4 {
    font-size: 12pt;
    font-style: italic;
}
.carousel {
    background: #000;
}
.carousel-inner img {
    margin: auto;
}
#services h2 {
    font-size: 3em;
    margin-bottom: 80px;
    text-align: center;
}
#services h3 {
    font-family: 'Lobster', cursive;
    color: #2980b9
}
#tagline {
    text-shadow: 0 0 10px #c0392b;
    color: #fff;
    font-family: 'Lobster', cursive;
    font-size: 4em;
    margin-top: 150px;
}
#gallery {
    text-align: center;
}
#gallery h2 {
    margin-bottom: 100px;
    font-size: 4em;
}
footer {
    text-align: center;
    margin: 150px 0 10px 0;
}

}
